/*
Header

Podstawowy nagłówek strony

Markup: ../../templates/_partials/app-header.njk

Style guide: partials.app-header
*/
.app-header {
  position: relative;
  z-index: 10;
  opacity: 0;
  animation: fadeInDown 2s .5s cubic-bezier(0.18, 0.98, 0.45, 1) forwards;

  &__row {
    padding: 60px 100px;
  }
}


@include media-query-max(size('LARGE')) {
  .app-header {
    &__row {
      padding: 30px;
    }
  }
}

@include media-query-max(size('X-MEDIUM')) {
  .app-header {
    .row {
      display: flex;
    }
  }
}