.app-header {
  position: relative;
  color: #ffffff;
  z-index: 10;
  opacity: 0;
  border-bottom: 20px color('SEVENTH') solid;
  animation: fadeInDown 2s .5s cubic-bezier(0.18, 0.98, 0.45, 1) forwards;
  overflow: hidden;

  &__row {
    padding: 0 40px;
    background: color('PRIMARY');
  }
}


@include media-query-max(size('LARGE')) {
  .app-header {
    &__row {
      padding: 30px;
    }
  }
}

@include media-query-max(size('X-MEDIUM')) {
  .app-header {
    .row {
      display: flex;
    }
  }
}