.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  animation: fadein 500ms linear;

  &::before {
    content: url("../images/signature-1.png");
    position: absolute;
    bottom: -100px;
    left: 5%;
    animation: fadein 4s ease-in;
  }

  &::after {
    content: url("../images/signature-2.png");
    position: absolute;
    top: -100px;
    right: 5%;
    animation: fadein 4s ease-in;
  }
}

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 0;
  z-index: 2;
}

.app-section {
  position: relative;
  padding: 30px 0;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;

  &--cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
  }

  &--pattern {
    background-size: auto;
    background-repeat: repeat;
  }

  &--primary {
    color: #ffffff;
    background-color: color('PRIMARY');
  }

  &--bottom {
    justify-content: flex-end;
  }
}

.app-component {
  position: relative;
  width: 100%;
}

.col-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: baseline;
}