.app {
  position: relative;
}

.app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: inherit;
  overflow: hidden;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 1600px;
    height: 1600px;
    //background: rgba(color('PRIMARY'), .025);
    //border: 50px rgb(239, 240, 251) solid;
    border-radius: 50%;
    opacity: 1;
  }

  &::before {
    top: 400px;
    top: 45vh;
    left: -1000px;
  }

  &::after {
    top: -800px;
    left: 60%;
    left: 60vw;
  }
}

.app-overlay {
  z-index: 10;
}
.shape-overlays {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  &.is-open {
    display: block;
  }
}

.shape-overlays path:nth-of-type(1) { fill: darken(color('PRIMARY'), 15%); }
.shape-overlays path:nth-of-type(2) { fill: #1818A4; }
.shape-overlays path:nth-of-type(3) { fill: #3b3bc5; }

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 0;
  z-index: 2;
  opacity: 0;
  animation: fadeInDown 2s 1s cubic-bezier(0.18, 0.98, 0.45, 1) forwards;
}

.app-route, .app-main > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.app-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 30px 0;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;

  &--cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
  }

  &--pattern {
    background-size: auto;
    background-repeat: repeat;
  }

  &--primary {
    color: #ffffff;
    background-color: color('PRIMARY');
  }

  &--bottom {
    justify-content: flex-end;
  }

  &--wide {
    > .container {
      max-width: none;
      margin: auto;
      padding: 0;
    }
  }
}

.app-component {
  position: relative;
  width: 100%;
}

.col-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: baseline;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}
.fade-exit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}