{% import "_components/components.njk" as components %}
{% set page = 'HOME' %}
{% set title = 'Frontcode - tworzymy nową rzeczywistość od podstaw' %}
{% extends "_layouts/default.njk" %}
{% block content %}

    <article class="app-section app-section--cover">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        <section class="slogan || text-center app-component" data-component="slogan">
                            <div class="slogan__content">
                                <h1 class="slogan__title" data-ref="text">Tworzymy nową <br> <strong>rzeczywistość</strong> <br> od podstaw</h1>
                                <p class="slogan__text">Jesteśmy zespołem programistów Front End z wieloletnim doświadczeniem. Naszą misją jest wspieranie klientów w obszarze IT dostarczając przy tym oprogramowanie bardzo wysokiej jakości. Wiedzę zdobywaną przez nas latami wykorzystujemy skutecznie również w realizacji własnych pomysłów.</p>
                                <button class="slogan__button || btn btn--light btn--rounded btn--outline">Dowiedz się więcej</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
