{% import "_components/components.njk" as components %}
{% set page = 'HOME' %}
{% set title = 'Frontcode - tworzymy nową rzeczywistość od podstaw' %}
{% extends "_layouts/default.njk" %}
{% block content %}

{% endblock %}
