<footer class="app-footer">
    <div class="container">
        <div class="app-footer__content">
            <div class="app-footer__row">
                <div class="row middle-sm">
                    <div class="col-sm-6">
                        <div class="copyright-area">
                            <p>Copyright &copy; 2018 by <strong>frontcode team</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="signature-area">
                            <p>Made with <i class="f-icon--heart"></i> in Poland</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>