<footer class="app-footer">
    <div class="app-footer__content">
        <div class="app-footer__row">
            <div class="row middle-sm">
                <div class="col-sm-4">
                    <div class="signature-area">
                        <p>Made with <i class="f-icon--heart"></i> in Poland</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="social-links">
                        <ul class="social-links__list">
                            <li class="social-links__item">
                                <a href="" class="social-links__link"><i class="f-icon--facebook"></i></a>
                            </li>
                            <li class="social-links__item">
                                <a href="" class="social-links__link"><i class="f-icon--linkedin"></i></a>
                            </li>
                            <li class="social-links__item">
                                <a href="" class="social-links__link"><i class="f-icon--github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="mini-contact">
                        <p class="mini-contact__item">+48 502 098 745</p>
                        <p class="mini-contact__item">&bull;</p>
                        <p class="mini-contact__item"><a href="mailto:hello@frontocde.pl">hello@frontcode.pl</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>