<header class="app-header">
    <div class="container">
        <div class="app-header__content">
            <div class="app-header__row">
                <div class="row middle-xs">
                    <div class="col-md-6">
                        <div class="app-logo">
                            <a href="/">
                                <img src="assets/images/frontcode.svg" alt="frontcode">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 text-right">
                        <ul class="app-languages">
                            <li class="app-languages__language current">
                                <a href="#" class="app-languages__language-link">pl</a>
                            </li>
                            <li class="app-languages__language">
                                <a href="#" class="app-languages__language-link">en</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="app-header__row">
                <div class="row middle-xs">
                    <div class="col-md-8">
                        <nav class="app-navigation app-navigation--base">
                            <ul class="app-navigation__list">
                                <li class="app-navigation__item active">
                                    <a href="home.html" class="app-navigation__link">Start</a>
                                </li>
                                <li class="app-navigation__item">
                                    <a href="portfolio.html" class="app-navigation__link">Nasze realizacje</a>
                                </li>
                                <li class="app-navigation__item">
                                    <a href="about.html" class="app-navigation__link">Zespół</a>
                                </li>
                                <li class="app-navigation__item">
                                    <a href="contact.html" class="app-navigation__link">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="social-links">
                            <ul class="social-links__list">
                                <li class="social-links__item">
                                    <a href="" class="social-links__link"><i class="f-icon--facebook"></i></a>
                                </li>
                                <li class="social-links__item">
                                    <a href="" class="social-links__link"><i class="f-icon--linkedin"></i></a>
                                </li>
                                <li class="social-links__item">
                                    <a href="" class="social-links__link"><i class="f-icon--github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>