$component: '.app-navigation';
.app-navigation {
  display: block;

  &__list {
    margin: 0 -30px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
    transition: color 50ms linear;
    &.active, &:hover {
      #{$component}__link::after {
        width: 100%;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 10px 0;
    font-size: calculateRem(12px);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: inherit;
    line-height: 1;
    background: transparent;
    border: none;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background: color('SECONDARY');
      transition: 75ms width ease-in-out;
    }
  }

  &--large {
    #{$component}__item {
      display: block;
      width: 100%;
      text-align: center;

      &.active, &:hover {
        #{$component}__link {
          color: color('SECONDARY');
        }
      }
    }

    #{$component}__link {
      padding: 20px 0;
      font-size: calculateRem(22px);
      font-weight: 500;
      &::after {
        display: none;
      }
    }
  }
}