.app-languages {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__language {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &:not(:first-child)::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1px;
      margin: auto;
      width: 1px;
      height: 20px;
      font-size: calculateRem(20px);
      background: color('FIFTH');
      transform: rotate(15deg);
    }

    &.current {
      color: color('SECONDARY');
    }
  }

  &__language-link {
    display: block;
    padding: 0 10px;
    font-size: calculateRem(14px);
    font-weight: 500;
    color: inherit;

    &:hover {
      color: color('SECONDARY');
    }
  }
}