.custom-heading {
  position: relative;
  display: block;
  margin: 15px 0;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 5px;
    background: color('SECONDARY');
  }

  &__title {
    position: relative;
    display: block;
    font-size: calculateRem(36px);
    font-weight: 700;
  }

  &__subtitle {
    display: block;
    margin-top: 10px;
    font-size: calculateRem(20px);
    color: inherit;
  }
}

@include media-query-max(1300px) {
  .custom-heading {
    &__title {
      padding-top: 30px;
      &::before {
        display: none;
      }
      //&::before {
      //  position: static;
      //  display: inline-block;
      //  vertical-align: baseline;
      //  margin-right: 10px;
      //}
    }
  }
}

@include media-query-max(size('X-MEDIUM')) {
  .custom-heading {
    &__title {
      font-size: calculateRem(24px);
      line-height: 1.4em;
      &::before {
        display: none;
      }
    }
    &__subtitle {
      font-size: calculateRem(18px);
    }
  }
}