$component: '.product';
.product {
  position: relative;
  margin: 40px 0;

  &__counter {
    position: absolute;
    top: -40px;
    right: 100%;
    margin-right: 25px;
    font-size: calculateRem(120px);
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 1;
  }

  &__content {
    display: flex;
  }

  &__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    width: 350px;
    height: 350px;
    text-align: center;
    background: darken(color('PRIMARY'), 30%);
    z-index: 1;

    img {
      display: inline-block;
      max-width: 120px;
      max-height: 120px;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
  }

  &__text {
    margin-top: 75px;
  }

  &__name {
    display: block;
    padding: 40px 60px;
    color: darken(color('PRIMARY'), 25%);
    background: #ffffff;
  }

  &__description {
    position: relative;
    display: block;
    width: 90%;
    padding: 40px;
    left: -150px;
    background: darken(color('PRIMARY'), 25%);
    z-index: 2;
  }

  &__title {
    font-size: calculateRem(46px);
    font-weight: 700;

    span {
      display: inline-block;
      padding-bottom: 10px;
      border-bottom: 8px currentColor solid;
    }
  }

  &__subtitle {
    display: block;
    margin-top: 30px;
    font-size: calculateRem(16px);
  }

  &--inverse {
    #{$component}__content {
      flex-direction: row-reverse;
    }
    #{$component}__description {
      float: right;
      left: auto;
      right: -150px;
    }
  }
}

@include media-query-max(size('LARGE')) {
  .product {
    margin-top: 0;

    &__content {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
    }

    &__logo, &__text {
      flex: 1;
    }

    &__logo {
      flex: 40%;
      width: auto;
      height: auto;
      padding: 30px;
    }

    &__text {
      flex: 60%;
      margin-top: 0;
    }

    &__name {
      padding: 30px;
    }

    &__description {
      width: 100%;
      padding: 30px;
      left: 0 !important;
      right: 0 !important;
    }
  }
}

@include media-query-max(size('X-MEDIUM')) {
  .product {
    &__content {
      display: block;
    }

    &__logo, &__text {
      display: block;
      width: 100%;
    }
  }
}