.responsive-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: darken(color('PRIMARY'), 10%);

  &__container {
    display: block;
    padding: 30px;
  }

  &__header {
    display: block;
    width: 100%;
    text-align: right;
  }

  &__close {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: calculateRem(12px);
    text-align: center;
    line-height: 26px;
    color: currentColor;
    background: transparent;
    border: 2px currentColor solid;
    border-radius: 50%;

    i {
      display: block;
      line-height: 1;
    }
  }

  &__content {
    padding: 30px 0;
  }
}